.Upgrade {
  padding: 1.25rem;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 6px;
  margin-bottom: 1rem;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
}

.Upgrade:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Upgrade.Disabled {
  cursor: not-allowed;
  background-color: rgb(197, 197, 197);
}

.Upgrade.Hidden {
  display: none;
}

.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Name {
  font-weight: bold;
}

.Description {
  font-size: 0.75rem;
}

.Count {
  font-size: 1.25rem;
  font-weight: bold;
}